<!DOCTYPE html>
<!--
Basic webpage for tech demo involving google speech to text api. Credit to Chris
Wilson for audio display code and recorder code.
        
-->
<html>
<div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/storyboardSelect">Demo</a></li>
      <li><a href="/about">About</a></li>
    </ul>
</div>
    <head>
        <title>{{storyboardName}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

<div class="jumbotron text-center">
  <h2 id="question" onclick="responsiveVoice.speak(this.innerHTML, 'US English Male');">{{q1}}</h2>
  <!--<img class="visAid" id="p0" src= "../images/storyboards/wendys/0/background.jpg">-->
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 id="res1" onclick="responsiveVoice.speak(this.innerHTML, 'US English Male');" style="text-align: center;">{{ra1}}</h3>
      <img class="visAid" id="p1" src= {{ia1}}>
    </div>
    <div class="col-sm-4">
      <h3 id="res2" onclick="responsiveVoice.speak(this.innerHTML, 'US English Male');" style="text-align: center;">{{ra2}}</h3>
        <img class="visAid" id="p2" src= {{ia2}}>
    </div>
    <div class="col-sm-4">
      <h3 id="res3" onclick="responsiveVoice.speak(this.innerHTML, 'US English Male');" style="text-align: center;">{{ra3}}</h3> 
    <img class="visAid" id="p3" src= {{ia3}}>
    </div>
  </div>
</div>

<div clas="container" id="viz">
    <canvas id="wavedisplay" width="1024" height="500"></canvas>
</div>

<div class="container" id="buttonDiv" style="horizontal-align: middle;">
    <img class="controlButton" onclick="playSound();" src = "../images/play_button.png">
    <script>
        var q1 = "{{q1}}";
        var ra1 = "{{ra1}}";
        var ia1 = "{{ia1}}";
        var ra2 = "{{ra2}}";
        var ia2 = "{{ia2}}";
        var ra3 = "{{ra3}}";
        var ia3 = "{{ia3}}";
        var q2 = "{{q2}}";
        var rb1 = "{{rb1}}";
        var ib1 = "{{ib1}}";
        var rb2 = "{{rb2}}";
        var ib2 = "{{ib2}}";
        var rb3 = "{{rb3}}";
        var ib3 = "{{ib3}}";
        var q3 = "{{q1}}";
        var rc1 = "{{rc1}}";
        var ic1 = "{{ic1}}";
        var rc2 = "{{rc2}}";
        var ic2 = "{{ic2}}";
        var rc3 = "{{rc3}}";
        var ic3 = "{{ic3}}";
        var onImg= "../images/mic_on.png";
        var offImg= "../images/mic_off.png";
    </script>
    <img class="controlButton" onclick="toggleRecording(this);" src = "../images/mic_off.png">
    <img class="controlButton" onclick="submit()" style="width: 200px;" src="../images/submit.png">
</div>
</html>
<!--













    <body>
        <div id="guiDiv">
            <h1>Respond to the prompts below using the words below!</h1>
            <p id="myWord" onclick="getWord();">Click Here!</p>
            <h3> Use the following in your response </h3>
            <div class="responses">
                <p id="r1">.</p>
                <p id="r2">.</p>
                <p id="r3">.</p>
            </div>
            <p id="correct"> . <p>
            <div id="buttonDiv">
                <img onclick="playSound();" src = "../images/play_button.png" style ="height: 100px;width: 100px">
                <script>
                var onImg= "../images/mic_on.png";
                var offImg= "../images/mic_off.png";
                </script>
                <img onclick="this.src = this.src == onImg ? offImg : onImg;toggleRecording(this);" src = "../images/mic_off.png" style ="height: 100px;width: 100px">
                <button type="button" id="submit">Submit</button>
            </div>
        </div>
        <div id="viz">
            <!--
            <canvas id="analyser" width="1024" height="500"></canvas>
            - ->
            <canvas id="wavedisplay" width="1024" height="500"></canvas>
  </div>
    </body>

-->